In [1]:
! gsutil cp gs://gdax-dnn-tmp-1/experimental-result.pkl .

Copying gs://gdax-dnn-tmp-1/experimental-result.pkl...
/ [1 files][  2.9 KiB/  2.9 KiB]
Operation completed over 1 objects/2.9 KiB.

In [2]:
# load data 
import pickle
with open('experimental-result.pkl', 'rb') as f:
    x = pickle.load(f)

In [3]:
# restructure 
import json
import pandas as pd
n_real = [json.loads(y[0].decode())['n_real'] for y in x]
n_fake = [json.loads(y[0].decode())['n_fake'] for y in x]
metric = [float(y[1]) for y in x]
df = pd.DataFrame({'n_real': n_real, 'n_fake': n_fake, 'metric': metric}) 
print(df.shape)
df.head()

(40, 3)

   n_real  n_fake  metric
0  300000       0    38.0
1  300000       0     6.0
2  300000       0    26.0
3  300000       0    25.0
4  300000       0     7.0

In [4]:
df.groupby(['n_real', 'n_fake']).agg(['mean', 'std'])

              metric
                mean        std
n_real n_fake
300000 0       24.35  15.465667
       5000     8.05  13.785862

In [5]:
df

    n_real  n_fake  metric
0   300000       0    38.0
1   300000       0     6.0
2   300000       0    26.0
3   300000       0    25.0
4   300000       0     7.0
5   300000       0     0.0
6   300000       0    46.0
7   300000       0    10.0
8   300000       0    38.0
9   300000       0    17.0
10  300000       0     9.0
11  300000       0    36.0
12  300000       0    17.0
13  300000       0    26.0
14  300000       0    12.0
15  300000       0    25.0
16  300000       0    28.0
17  300000       0    38.0
18  300000       0    62.0
19  300000       0    21.0
20  300000    5000    22.0
21  300000    5000     0.0
22  300000    5000     0.0
23  300000    5000     7.0
24  300000    5000     0.0
25  300000    5000     0.0
26  300000    5000     0.0
27  300000    5000     0.0
28  300000    5000     2.0
29  300000    5000     0.0
30  300000    5000     0.0
31  300000    5000    26.0
32  300000    5000     0.0
33  300000    5000     0.0
34  300000    5000    44.0
35  300000    5000     0.0
36  300000    5000     2.0
37  300000    5000     0.0
38  300000    5000    35.0
39  300000    5000    23.0