In [1]:
! gsutil cp gs://gdax-dnn-tmp-1/experimental-result.pkl .

Copying gs://gdax-dnn-tmp-1/experimental-result.pkl...
/ [1 files][ 73.0 KiB/ 73.0 KiB]
Operation completed over 1 objects/73.0 KiB.

In [2]:
# load data 
import pickle
with open('experimental-result.pkl', 'rb') as f:
    x = pickle.load(f)

In [3]:
# restructure 
import json
import pandas as pd
n_real = [json.loads(y[0].decode())['n_real'] for y in x]
n_fake = [json.loads(y[0].decode())['n_fake'] for y in x]
metric = [float(y[1]) for y in x]
df = pd.DataFrame({'n_real': n_real, 'n_fake': n_fake, 'metric': metric}) 
print(df.shape)
df.head()

(900, 3)

   n_real  n_fake  metric
0    1000       0     0.0
1    1000       0     0.0
2    1000       0     0.0
3    1000       0     0.0
4    1000       0     2.0

In [5]:
df.groupby(['n_real', 'n_fake']).agg(['mean', 'std'])

              metric
                mean        std
n_real n_fake
1000   0        0.89   1.650803
       1000     0.95   2.056647
       10000    0.49   0.979538
       300000   1.10   1.337116
10000  0        9.12  12.192298
       1000     5.62   8.907811
       10000    3.11   4.842770
       100000   0.89   1.347613
       300000   0.73   1.081105